#logo {
  width: 150px;
  margin-right: 25px;
  padding-top: 10px;
  position: absolute;
}

#fototubarao {
  display: flex;
  justify-content: flex-end;
}

body {
  color: rgb(224, 224, 224);
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #002c53, #010c22);
}

h1 {
  font-size: 40px;
}

#textocentro {
  display: flex;
  justify-content: center;
}

#menu {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-top: 15px;
  margin-left: 10px;
}

button {
  cursor: pointer;
  transition: 0.1s ease;
  width: 200px;
  height: 40px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  background-color: rgb(15, 41, 122);
  color: rgb(221, 221, 221);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.7);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 35px;
}

.textosecao {
  display: flex;
  justify-content: center;
}

#caixasecao {
  background: rgba(255, 255, 255, 0.95);
  width: 500px;
  min-height: 300px;

  padding: 15px;
  border-radius: 10px;

  margin-top: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  overflow-y: auto;
}

.centralizador {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listadados {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

span {
  color: black;
}

.editarproduto {
  font-size: 12px;
  width: 50px;
  height: 25px;
}

#infosecao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#referenciaproduto {
  width: 400px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}

#totalvendas {
  font-size: 20px;
}

.precototalvenda {
  font-size: 20px;
  color: white;
}

.secao {
  display: none;
}

.mostra {
  display: block;
}

#infoestoque {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

#pesquisaproduto {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.ativo {
  display: flex;
}

.caixamodal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#itensaddestoque {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.inputmodal {
  width: 350px;
  height: 25px;
  font-size: 15px;
}

.editarhistorico {
  width: 90px;
  font-size: 15px;
}

#infohistorico {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

#historicododia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#listahistorico.listadados {
  margin-left: 115px;
}

#pesquisahistorico {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}

.organizainfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pesquisadehistorico {
  width: 350px;
  height: 30px;
  border-radius: 10px;
  font-size: 15px;
}

#confirmarpesquisa {
  height: 35px;
}

.totalmodal {
  color: black;
  font-size: 30px;
}

.organizaencerravenda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#formataformadepagamento {
  color: black;
  font-size: 20px;
}

#organizapagamento {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.produtocarrinho {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 17px;
}

#centralizaencerravenda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

#pagamentoescolhido {
  font-size: 17px;
  color: black;
}

#textovendascaixa {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 25px;
}
#organizatotalcaixa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.spancaixa {
  font-size: 17px;
  color: black;
}

.botaover {
  width: 50px;
  height: 25px;
  font-size: 15px;
}

#spantotalcaixa {
  margin-top: 30px;
  font-size: 20px;
  color: black;
}

#infocaixa {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.botaoinfocaixa {
  width: 150px;
  font-size: 17px;
  height: 35px;
}

#caixatroco {
  display: flex;
  font-size: 20px;
  background: white;
  width: 150px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#sangria.botaoinfocaixa:hover {
  transition: 0.5 ease;
  transform: scale(1.05);
  background-color: red;
  box-shadow: 0 0 10px rgba(255, 46, 46, 0.7);
}

#sangria.botaoinfocaixa:active {
  transition: 0.5 ease;
  transform: scale(0.95);
  background-color: red;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

#caixaumvalor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.umvalor {
  width: 400px;
  height: 30px;
  border-radius: 10px;
  font-size: 15px;
}

#confirmasangria {
  background-color: red;
  color: white;
  box-shadow: 0 0 10px rgba(255, 46, 46, 0.7);
}

.editelementos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.inputedits {
  width: 100px;
  height: 25px;
}
.elementosedits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.bordanome {
  width: 50px;
  height: 20px;
}

#totaleditvendas {
  font-size: 20px;
}

#vervendas {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 17px;
}

#formapagamento {
  font-size: 20px;
}

#listaver {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#listaver {
  font-size: 20px;
}

#adicionarvenda {
  font-size: 12px;
  width: 50px;
  height: 25px;
}
